@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text);
}
:root {
  --primary: #2d88ff;
  --dark: #18191a;
  --semi-dark: #242526;
  --soft-dark: #3a3b3c;
  --danger: #f02849;
  --success: #44b960;
  --warning: #dda728;
  --text: #b7b9bd;
  --text-white: #ffffff;
}
body {
  background-color: var(--dark);
}
/*------------------------ Facebook Navigation --------------------------------*/
.nav {
  background-color: var(--semi-dark);
  display: flex;
}
.left {
  width: 25%;
}
.left-box {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.logo {
  width: 80px;
  height: 50px;
}
.search-box {
  display: flex;
  background-color: var(--soft-dark);
  padding: 10px 20px;
  border-radius: 200px;
  align-items: center;
}
.search-box i {
  margin-right: 10px;
}
.search-box .search-input {
  background-color: var(--soft-dark);
  border: none;
}
.search-box .search-input:focus {
  outline: none;
}
.center {
  width: 50%;
}
.center-box {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-link {
  position: relative;
  margin: 0px 30px;
  padding: 15px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--semi-dark);
  border-bottom: 3px solid var(--semi-dark);
  /* transition: 0.2s; */
}
.center-link.active {
  border-bottom-color: var(--primary) !important;
}
.center-link i {
  font-size: 22px;
}
.center-link:hover {
  background-color: var(--soft-dark);
  border-radius: 15px;
}
.center-link i.active {
  color: var(--primary);
}
.center-box .center-link.active {
  background-color: var(--semi-dark);
  border-radius: 0px;
}
.center-link .noti {
  background-color: var(--danger);
  padding: 3px 5px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 12px;
  font-weight: 900;
}
.right {
  width: 25%;
}
.right-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile {
  display: flex;
  align-items: center;
  background-color: var(--semi-dark);
  padding: 5px;
  border-radius: 20px;
}
.profile:hover {
  background-color: var(--soft-dark);
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile span {
  font-size: 14px;
  font-weight: 900;
  margin-right: 10px;
}
.right-notification-box {
  display: flex;
  justify-content: flex-end;
}
.right-notification-box .notification {
  background-color: var(--soft-dark);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/*------------------------ Facebook Body ---------------------------------*/
.fb-body {
  display: flex;
}
/*-------------------------- Left Side -----------------------------------*/
.left-side {
  height: 100vh;
  overflow: scroll;
  width: 25%;
}
.left-side-box {
  margin-top: 20px;
}
.left-side-feature {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.left-side-feature i {
  font-size: 25px;
  margin-right: 20px;
}
.left-side-feature .fa-youtube {
  color: var(--primary);
}
.left-side-feature .fa-calendar-check {
  color: var(--danger);
}
.left-side-feature .fa-user-group {
  color: var(--primary);
}
.left-side-feature .fa-clock {
  color: var(--primary);
}
.left-side-img {
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.left-side-text {
  font-size: 16px;
}
.left-side-button {
  background-color: var(--soft-dark);
  padding: 8px 20px;
  margin: 0px 40px 20px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side-button .mr-1 {
  margin-right: 10px;
}
.divide {
  height: 1px;
  background-color: var(--soft-dark);
  margin: 20px 40px 20px 12px;
}
.second-left-side {
  margin-top: 20px;
}
.second-side-icon {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 20px 0px;
}
.second-side-feature {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin: 0px 40px 20px 0px;
}
.second-side-img {
  width: 50px;
  height: 40px;
  border-radius: 6px;
  margin-right: 20px;
}
.second-side-text {
  font-size: 18px;
}
.bottom-dev {
  height: 50vh;
}
.second-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
/*----------------------------- New Feed ------------------------*/
.new-feeds {
  width: 50%;
  /* overflow: scroll; */
}
/*------------------------------ Story List ---------------------*/
.story-list {
  position: relative;
  margin-top: 20px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.story {
  width: 140px;
  height: 220px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
}
.story-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-img {
  width: 34px;
  height: 34px;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-img.first-item {
  background-color: var(--soft-dark);
}
.story-img i {
  color: var(--text-white);
  font-size: 20px;
}
.story-text {
  font-size: 18px;
  color: var(--text-white);
}
.side-icon {
  width: 45px;
  height: 45px;
  background-color: var(--soft-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 95px;
  right: -18px;
}
/*----------------------------- Add Post ----------------------*/
.add-post {
  background-color: var(--semi-dark);
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px 20px;
}
.add-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-text-profile {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.add-text-box {
  background-color: var(--soft-dark);
  padding: 10px 20px;
  border-radius: 200px;
  flex-grow: 1;
}
.add-text-box .add-text-input {
  width: 100%;
  background-color: var(--soft-dark);
  border: none;
  font-size: 16px;
}
.divider {
  height: 1px;
  background-color: var(--soft-dark);
  margin: 20px 0px;
}
.add-post-feature {
  display: flex;
}
.add-post-feature .video {
  text-align: center;
  flex-grow: 1;
  padding: 5px;
}
.add-post-feature .video i {
  color: var(--danger);
  font-size: 20px;
  margin-right: 5px;
}
.add-post-feature .video span {
  font-size: 16px;
}
.add-post-feature .video:hover {
  background-color: var(--soft-dark);
  border-radius: 6px;
}
.add-post-feature .photo {
  text-align: center;
  flex-grow: 1;
  padding: 5px;
}
.add-post-feature .photo i {
  color: var(--success);
  font-size: 20px;
  margin-right: 5px;
}
.add-post-feature .photo span {
  font-size: 16px;
}
.add-post-feature .photo:hover {
  background-color: var(--soft-dark);
  border-radius: 6px;
}
.add-post-feature .feeling {
  text-align: center;
  flex-grow: 1;
  padding: 5px;
}
.add-post-feature .feeling i {
  color: var(--warning);
  font-size: 20px;
  margin-right: 5px;
}
.add-post-feature .feeling span {
  font-size: 16px;
}
.add-post-feature .feeling:hover {
  background-color: var(--soft-dark);
  border-radius: 6px;
}
/*------------------------------ Chat ----------------------------*/
.chat {
  width: 25%;
  overflow: scroll;
}
