@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text);
}
:root {
  --primary: #2d88ff;
  --dark: #18191a;
  --semi-dark: #242526;
  --soft-dark: #3a3b3c;
  --danger: #f02849;
  --success: #44b960;
  --warning: #dda728;
  --text: #b7b9bd;
}
body {
  background-color: var(--dark);
}
.nav {
  background-color: var(--semi-dark);
  display: flex;
}
.left {
  width: 25%;
}
.left-box {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.logo {
  width: 80px;
  height: 50px;
}
.search-box {
  display: flex;
  background-color: var(--soft-dark);
  padding: 10px 20px;
  border-radius: 200px;
  align-items: center;
}
.search-box i {
  margin-right: 10px;
}
.search-box .search-input {
  background-color: var(--soft-dark);
  border: none;
}
.search-box .search-input:focus {
  outline: none;
}
.center {
  width: 50%;
}
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-link {
  position: relative;
  margin: 0px 30px;
  padding: 15px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--semi-dark);
  border-bottom: 3px solid var(--semi-dark);
  transition: 0.5s;
}
.center-link.active {
  border-bottom-color: var(--primary) !important;
}
.center-link i {
  font-size: 20px;
}
.center-link:hover {
  background-color: var(--soft-dark);
  border-radius: 10px;
}
.center-link i.active {
  color: var(--primary);
}
.center-box .center-link.active {
  background-color: var(--semi-dark);
  border-radius: 0px;
}
.center-link .noti {
  background-color: var(--danger);
  padding: 3px 5px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 12px;
  font-weight: 900;
}
.right {
  width: 25%;
}
.right-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile {
  display: flex;
  align-items: center;
  background-color: var(--semi-dark);
  padding: 5px;
  border-radius: 20px;
}
.profile:hover {
  background-color: var(--soft-dark);
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile span {
  font-size: 14px;
  font-weight: 900;
  margin-right: 10px;
}
.right-notification-box {
  display: flex;
  justify-content: flex-end;
}
.right-notification-box .notification {
  background-color: var(--soft-dark);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
